<div id="tutorial-details-container" class="container mb-5">
  <div class="card mt-4">
    <div class="card-header d-flex align-items-center">
      <span>Tutorial details</span>
      <button id="delete-tutorial-btn" ng-click="deleteTutorial()" ng-if="tutorial.isAuthor" class="btn btn-outline-danger ml-auto">Delete
        tutorial</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4 card-title">
          <div class="d-flex align-items-center" ng-if="!editTitle">
            <h3 id="tutorial-title">
              {{tutorial.title}}
            </h3>
            <span id="edit-title" ng-if="tutorial.isAuthor" ng-click="startEditTitle()" class="p-2 ml-auto">
              <i class="fas fa-pen"></i>
            </span>
          </div>
          <div ng-if="editTitle">
            <div class="form-group">
              <div class="d-flex flex-row align-items-center">
                <div class="form-label-group w-100">
                  <input id="title" type="text" ng-model="tutorial.title" class="form-control" placeholder="Title">
                  <label for="title">Title</label>
                </div>
                <span id="submit-title" ng-click="submitTitle()" class="p-2">
                  <i class="fas fa-check"></i>
                </span>
                <span id="reset-title" ng-click="resetTitle()" class="p-2">
                  <i class="fas fa-times"></i>
                </span>
              </div>
              <small class="text-danger" ng-if="!tutorial.title">Can not be empty</small>
            </div>
          </div>
        </div>
      </div>
      <div>
        <strong>Favorites count: </strong><span id="favorites-count-txt" class="card-text">{{tutorial.favoritesCount}}</span>
      </div>
      <div ng-if="!editDescription">
        <strong>Description: </strong><span id="tutorial-description" class="card-text">{{tutorial.description}}</span>
        <span id="edit-description" ng-if="tutorial.isAuthor" ng-click="startEditDescription()" class="p-2 ml-auto">
          <i class="fas fa-pen"></i>
        </span>
      </div>
      <div ng-if="editDescription">
        <div class="form-group">
          <div class="d-flex flex-row align-items-center">
            <div class="form-label-group w-100">
              <input id="description" type="text" ng-model="tutorial.description" class="form-control" placeholder="description">
              <label for="description">Description</label>
            </div>
            <span id="submit-description" ng-click="submitDescription()" class="p-2">
              <i class="fas fa-check"></i>
            </span>
            <span id="reset-description" ng-click="resetDescription()" class="p-2">
              <i class="fas fa-times"></i>
            </span>
          </div>
          <small class="text-danger" ng-if="!tutorial.description">Can not be empty</small>
        </div>
      </div>
      <div id="mark-favorite-btn" ng-click="postFavorite(!tutorial.favorited, index)">
        Favorite:
        <span ng-if="!favoriteLoading">
          <i id="tutorial-favorited" ng-if="tutorial.favorited" class="fas fa-heart fa-2x"></i>
          <i id="tutorial-unfavorited" ng-if="!tutorial.favorited" class="far fa-heart fa-2x"></i>
        </span>
        <span id="favorite-loader" ng-if="favoriteLoading">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </span>
      </div>
    </div>
    <div class="card-footer text-muted">
      <p class="card-text">Created by {{tutorial.author.username}} at {{formatDate(tutorial.createdAt)}}</p>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Tutorial steps
    </div>
    <div class="card-body">
      <ol class="list-group">
        <li class="list-group-item" ng-repeat="step in steps.steps">
          <div ng-if="editStepPosition !== $index" class="d-flex flex-row align-items-center">
            <div>
              <div>
                <strong>Step {{$index + 1}}</strong>
              </div>
              <div>
                <strong>Title: </strong><span id="step-title-{{$index}}">{{step.title}}</span>
              </div>
              <div>
                <strong>Description: </strong><span id="step-description-{{$index}}">{{step.description}}</span>
              </div>
              <div>
                <strong>Level: </strong><span id="step-level-{{$index}}">{{step.level}}</span>
              </div>
            </div>
            <span id="edit-step-{{$index}}" ng-if="tutorial.isAuthor" ng-click="startStepEdit(step, $index)" class="p-2 ml-auto">
              <i class="fas fa-pen"></i>
            </span>
          </div>
          <div ng-if="editStepPosition === $index">
            <div class="d-flex flex-row align-items-center">
              <div class="w-100">
                <div class="form-group">
                  <div class="form-label-group">
                    <input id="stepTitle{{$index}}" type="text" ng-model="step.title" class="form-control" placeholder="Step title">
                    <label for="stepTitle{{$index}}">Step title</label>
                    <small class="text-danger" ng-if="!step.title">Can not be empty</small>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <input id="stepDescription{{$index}}" type="text" ng-model="step.description" class="form-control"
                      placeholder="Step description">
                    <label for="stepDescription{{$index}}">Step description</label>
                    <small class="text-danger" ng-if="!step.description">Can not be empty</small>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-label-group">
                    <select id="stepLevel{{$index}}" ng-options="level for level in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" ng-model="step.level" class="form-control"></select>
                  </div>
                </div>
              </div>
              <span id="submit-step-{{$index}}" ng-click="submitStep(step, $index)" class="p-2">
                <i class="fas fa-check"></i>
              </span>
              <span id="reset-step-{{$index}}" ng-click="resetStep(step, $index)" class="p-2">
                <i class="fas fa-times"></i>
              </span>
              <span id="remove-step-{{$index}}" ng-click="removeStep(step, $index)" class="p-2">
                <i class="fas fa-trash"></i>
              </span>
            </div>
          </div>
        </li>
        <li ng-if="!showAddNewStep && tutorial.isAuthor" class="list-group-item">
          <div id="add-new-step-btn" ng-click="toggleShowAddNewStep()" class="btn btn-outline-primary float-right">Add new step <i class="fas fa-plus"></i></div>
        </li>
        <li ng-hide="!showAddNewStep" class="list-group-item">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" ng-model="stepTitle" id="stepTitle" class="form-control" placeholder="Step title">
              <label for="stepTitle">Step title</label>
              <small class="text-danger" ng-if="stepValidated && !stepTitle">Can not be empty</small>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" ng-model="stepDescription" id="stepDescription" class="form-control" placeholder="Step description">
              <label for="stepDescription">Step description</label>
              <small class="text-danger" ng-if="stepValidated && !stepDescription">Can not be empty</small>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <select id="stepLevel" class="form-control" ng-model="stepLevel">
                <option ng-repeat="level in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{level}}</option>
              </select>
              <small class="text-danger" ng-if="stepValidated && !stepLevel">Can not be empty</small>
            </div>
          </div>
          <div id="create-new-step-btn" ng-click="addNewStep()" class="btn btn-outline-primary">Add step</div>
          <div ng-click="toggleShowAddNewStep()" class="btn btn-outline-danger">Cancel</div>
        </li>
      </ol>
    </div>
  </div>

  <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Tutorial Reviews
    </div>
    <div class="card-body">
      <div ng-repeat="review in reviews" id="tutorial-review-{{$index}}">
        <div>
          <b class="mr-2">Likes: <span id="review-like-count-{{$index}}">{{review.likesCount}}</span></b>
          <span id="like-review-{{$index}}" ng-if="!likeLoading" ng-click="postLike(!review.liked, $index)">
            <i id="favorited-review-{{$index}}" ng-if="review.liked" class="fas fa-thumbs-up fa-2x"></i>
            <i id="unfavorited-review-{{$index}}" ng-if="!review.liked" class="far fa-thumbs-up fa-2x"></i>
          </span>
          <span ng-if="likeLoading">
            <i id="like-review-spinner-{{$index}}" class="fa fa-spinner fa-spin fa-2x"></i>
          </span>
        </div>
        <div ng-if="editReviewPosition !== $index" class="d-flex flex-row align-items-center">
          <div id="review-body-txt-{{$index}}">{{review.body}}</div>
          <span id="edit-review-btn-{{$index}}" ng-click="startReviewEdit(review, $index)" class="p-2 ml-auto">
            <i ng-if="review.isAuthor" class="fas fa-pen"></i>
          </span>
        </div>
        <div ng-if="editReviewPosition === $index">
          <div class="d-flex flex-row align-items-center">
            <input id="review-body-input-{{$index}}" type="text" ng-model="review.body" class="form-control">
            <span id="submit-review-btn-{{$index}}" ng-click="submitReview(review, $index)" class="p-2">
              <i class="fas fa-check"></i>
            </span>
            <span id="reset-review-btn-{{$index}}" ng-click="resetReview(review, $index)" class="p-2">
              <i class="fas fa-times"></i>
            </span>
            <span id="remove-review-btn-{{$index}}" ng-click="removeReview(review, $index)" class="p-2">
              <i class="fas fa-trash"></i>
            </span>
          </div>
          <small class="text-danger" ng-if="!review.body">Can not be empty</small>
        </div>
        <div>
          <small id="review-posted-by-txt-{{$index}}" class="text-muted">Posted by {{review.author.username}} on {{formatDate(review.createdAt)}}</small>
        </div>
        <hr>
      </div>
      <form name="tutorialForm">
        <div class="form-group">
          <div class="form-label-group">
            <input id="review-body-input" type="text" ng-model="body" class="form-control" placeholder="Body" required>
            <label for="review-body-input">Body</label>
            <small class="text-danger" ng-if="reviewValidated && !body">Can not be empty</small>
          </div>
        </div>
        <div id="post-review-btn" class="btn btn-outline-primary float-right" ng-click="postReview()">Post a review</div>
        <div ng-if=(errorMessage) class="alert alert-danger">{{errorMessage}}</div>
      </form>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header d-flex align-items-center">
      <span>Tutorial gallery</span>
      <div class="custom-file w-50 ml-auto" ng-if="!image.src">
        <input type="file" class="custom-file-input" id="inputGroupFile01" ng-model="image.src" accept="image/*"
          select-ng-files>
        <label class="custom-file-label" for="inputGroupFile01">{{!image.src ? 'Choose file' : 'File selected'}}</label>
      </div>
      <div class="ml-auto" ng-if="image.src">
        <button class="btn btn-outline-success" ng-click="uploadImage()">Upload <i class="fas fa-check"></i></button>
        <button class="btn btn-outline-danger" ng-click="cancelUpload()">Cancel <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <ol class="list-group">
        <div class="row">
          <div ng-if="images" ng-repeat="image in images" class="col-md-4 mt-3 mb-3">
            <div class="row">
                <div class="col-12" ng-if="imageLoading !== $index">
                  <a href={{image.image}} target="_blank">
                    <img class="mw-100 mh-100" ng-src="{{image.image}}">
                  </a>
                </div>
                <div class="col-12" ng-if="imageLoading !== $index" ng-click="deleteImage(image, $index)">
                  <button class="btn btn-outline-danger float-right">
                      <i class="fas fa-trash col-12"></i>
                  </button>
                </div>
                <span ng-if="imageLoading === $index">
                  <i class="fa fa-spinner fa-spin fa-2x"></i>
                </span>
            </div>
            <hr>
          </div>
        </div>
      </ol>
    </div>
  </div>

</div>