<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tutor Pro</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link href="css/sb-admin.css" rel="stylesheet">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="controllers/tutorial-post.js"></script>
  <script type="text/javascript" src="controllers/tutorial-list.js"></script>
  <script type="text/javascript" src="controllers/tutorial-details.js"></script>
  <script type="text/javascript" src="controllers/register.js"></script>
  <script type="text/javascript" src="controllers/login.js"></script>
  <script type="text/javascript" src="controllers/tutor-pro.js"></script>
  <script type="text/javascript" src="services/session.js"></script>
  <script type="text/javascript" src="services/api-config.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="tutorPro" id="page-top" ng-controller="TutorProController">
  <nav ng-if="!!Session.get()" class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="#!/tutorials">Tutor Pro</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ng-class:{active: location.path() === '/tutorials'}">
        <a class="nav-link" href="#!tutorials">
          <i class="fas fa-list"></i>
          <span>Tutorial list</span>
        </a>
      </li>
      <li class="nav-item ng-class:{active: location.path() === '/tutorial-post'}">
        <a class="nav-link" href="#!tutorial-post">
          <i class="fas fa-file"></i>
          <span>Tutorial post</span>
        </a>
      </li>
      <li class="nav-item dropdown no-arrow">
        <div ng-controller="LoginModalDemoCtrl as $ctrl" class="modal-demo">
          <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title">Logout</h3>
              </div>
              <div class="modal-body" id="modal-body">
                Are you sure you want to logout?
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" ng-click="$ctrl.logout()">Logout</button>
                <button class="btn btn-outline-secondary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
              </div>
          </script>
          <script type="text/ng-template" id="stackedModal.html">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
              </div>
              <div class="modal-body" id="modal-body-{{name}}">
                  Having multiple modals open at once is probably bad UX but it's technically possible.
              </div>
          </script>
          <a class="nav-link dropdown-toggle" ng-click="$ctrl.open()">
            <i class="fas fa-sign-out-alt fa-fw"></i>
          </a>
          <div class="modal-parent">
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <div id="container-fluid">
    <div ng-view></div>
  </div>
</body>

</html>